# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# build
.next/
out/
build
dist
secret
*.local
.parcel-cache
.cache

#infrastructure
.k8s.*

# misc
.DS_Store
.vscode
.idea
*.pem

# debug
*.log*

# local env files
.env*

# turbo
.turbo

# visualizations
graph.*

# editors
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
